* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

body {
  background-image: url("../image/night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.current-feels-like,
.current-temperature {
  position: relative;
}

.current-temperature-span::after {
  content: "\00B0 F";
  position: absolute;
}

.current-feels-like-span::after {
  content: "\00B0 F";
  /* font-size: 3rem; */
  position: absolute;
  /* top: 1.8rem; */
  /* left: 17.3rem; */
}
