@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

body {
  background-image: url("../image/night.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.current-feels-like {
  position: relative;
}

.current-feels-like-span::after {
  content: "\00B0 F";
  /* font-size: 3rem; */
  position: absolute;
  /* top: 1.8rem; */
  /* left: 17.3rem; */
}

.main-heading {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.weather-body-details {
  border: 3px solid coral;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 100px;
}

.main-heading > h1 {
  font-family: "Nunito";
  font-size: 55px;
}
